@import url(https://fonts.google.com/specimen/Red+Hat+Display);

body{
  background-color:  hsl(225, 100%, 98%);
  font-family: 'Red Hat Display', sans-serif;
}
.container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.order--container{
  height: 600px;
  width: 400px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  background-color: white;
}
.order--container img:first-of-type{
  width: 100%;
  height: auto;
  border-top-left-radius : 15px;
  border-top-right-radius: 15px;
}
.order--info--container{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 20px 30px;
  flex-grow: 1;
  text-align: center;
}
.order--info--container p{
  text-align: center;
  color: hsl(224, 23%, 55%);
  margin: 0;
  font-size: 15px;
}
.price--container{
  display: flex;
  background-color: hsl(225, 100%, 98%);
  padding: 15px 20px;
  align-self: flex-start;
  border-radius: 10px;
}
.heading{
  font-size: 25px;
  font-weight: bolder;
}
.price{
  margin-left: 10px;
}
.price div:first-child{
  margin-bottom: 3px;
  font-weight: 700;
  
}
.price div:last-child{
  font-size: 14px;
  text-align: left;
  color: hsl(224, 23%, 55%);
}
.music--image{
  background-image: url(./images/icon-music.svg);
  height: 40px;
  width: 40px;
  background-position: center;
  background-size: contain;
}
.price--container a{
  margin: auto 0;
  margin-left: auto;
  text-decoration: underline;
  font-size: 13px;
  font-weight: 600;
  color: hsl(245, 75%, 52%);
}
button{
 background-color: hsl(245, 75%, 52%);
 border: none;
 color: white;
 font-weight: 700;
 height: 40px;
 border-radius: 10px;
}
.order--info--container > div:last-child{
  font-size: 13px;
  font-weight: 700;
  color: hsl(225, 11%, 51%);
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
